<div  class="general d-flex justify-content-center align-items-center">
  <div  class="tamaño d-flex justify-content-center align-items-center">
      <div>
      <div class="d-flex justify-content-center align-items-center mt-2 ">
          <button type="button" [routerLink]="['/altas/altaPaciente']" routerLinkActive="router-link-active"  class="btn btn-danger btn-circle btn-xl">Alta usuario</button>
      </div>
      <div class="d-flex justify-content-center align-items-center mt-2 ">

      </div>
      <div class="d-flex justify-content-center align-items-center mt-2">
        <button type="button" [routerLink]="['/altas/altaEspecialista']" routerLinkActive="router-link-active"  class="btn btn-danger btn-circle btn-xl">Alta especialista</button>
      </div>
  </div>
  </div>

</div>