<div *ngIf="auth.paciente">
    <h1>Paciente</h1>
</div>


<div *ngIf="auth.especialista">
    <h1>Especialista</h1>
</div>

<div *ngIf="auth.administrador" class="general d-flex justify-content-center align-items-center">
    <div class="tamaño d-flex justify-content-center align-items-center">
        <div>
        <div class="d-flex justify-content-center align-items-center mt-2">
            <button class="btn btn-primary">Alta Usuarios</button>
        </div>
        <div class="d-flex justify-content-center align-items-center mt-2">
            <button class="btn btn-primary" [routerLink]="['/aprobarCuenta']" routerLinkActive="router-link-active" >Aprobar Cuentas</button>
        </div>
        <div class="d-flex justify-content-center align-items-center mt-2">
            <button class="btn btn-primary" [routerLink]="['/habilitarCuenta']" routerLinkActive="router-link-active"  >Habilitar/Inhabilitar Cuentas</button>
        </div>
        <div class="d-flex justify-content-center align-items-center mt-2">
            <button class="btn btn-primary">Solicitar Turno</button>
        </div>
    </div>
    </div>

</div>
